<% @page_title = "Search" %>

<% content_for :header do %>
  <nav>
    <%= link_to_back fallback_path: root_path %>

    <header class="center">
      <h1 class="txt-large margin-none"><%= @page_title %></h1>
    </header>

    <div class="btn btn--placeholder flex-item-justify-end"></div>
  </nav>
<% end %>

<section class="search">
  <div class="search__field">
    <input class="input" type="search" placeholder="What are you looking for, beautiful stranger?" />
    <span class="search__field-icon btn btn--circle borderless">
      <%= icon_tag "search" %>
    </span>
    <button class="search__field-clear btn btn--circle borderless">
      <%= icon_tag "close" %>
    </button>
  </div>

  <ul class="search__list">
    <li>
      <%= render "search/result", collection: "Fizzy: Issues", title: "Recently #{circled_text('close')}d cards aren't centered" %>
    </li>
    <li>
      <%= render "search/result", collection: "Fizzy: Issues", title: "Inaccurate subscriber list" do %>
        <div class="search__excerpt">
          That's <%= circled_text "close" %>, but no cigar, I'm afraid!
        </div>
      <% end %>
    </li>
    <li>
      <%= render "search/result", collection: "Fizzy: Issues", title: "Lexical stuck in formatting mode" do %>
        <div class="search__excerpt search__excerpt--comment">
          <figure class="avatar"></figure>
          <div>
            …have to reach into the <%= circled_text "close" %>t of discarded dreams to make this one work.
          </div>
        </div>
      <% end %>
    </li>
  </ul>

  <ul class="search__history">
    <% 7.times do %>
      <li>
        <%= link_to "historic search term", "#" %>
      </li>
    <% end %>
  </ul>
</section>
